<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!--linux ${basedir}/log/${shortdate}-info.log-->
		<!-- 100 MB-->
		<target xsi:type="File" archiveNumbering="Sequence" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="104857600"  name="target1" fileName="${basedir}/../log/${shortdate}-Warn.log" async="true">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}]" />
				<attribute name="level" layout="[${level:uppercase=true}]" />
				<attribute name="threadname" layout="[${threadname:whenEmpty=${threadid}}]" />
				<attribute name="threadid" layout="[${threadid}]" />
				<attribute name="methodName" layout="${callsite}" />
				<attribute name="line" layout="[${callsite-linenumber}]" />
				<attribute name="message" layout="[${message}]" />
			</layout>
		</target>

		<!--linux ${basedir}/log/${shortdate}-info.log-->
		<target xsi:type="File" archiveNumbering="DateAndSequence" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="104857600" name="target2" fileName="${basedir}/../log/${shortdate}-info.log" async ="true">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}]" />
				<attribute name="level" layout="[${level:uppercase=true}]" />
				<attribute name="threadname" layout="[${threadname:whenEmpty=${threadid}}]" />
				<attribute name="threadid" layout="[${threadid}]" />
				<attribute name="methodName" layout="[${callsite}]" />
				<attribute name="line" layout="${callsite-linenumber}:" />
				<attribute name="message" layout="[${message}]" />
			</layout>
		</target>

		<!--linux ${basedir}/log/${shortdate}-debug.log-->
		<target xsi:type="File" archiveNumbering="DateAndSequence" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="104857600" name="target3" fileName="${basedir}/../log/${shortdate}-debug.log" async ="true">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}]" />
				<attribute name="level" layout="$[{level:uppercase=true}]" />
				<attribute name="threadname" layout="[${threadname:whenEmpty=${threadid}}]" />
				<attribute name="threadid" layout="[${threadid}]" />
				<attribute name="methodName" layout="[${callsite}]" />
				<attribute name="line" layout="[${callsite-linenumber}]" />
				<attribute name="message" layout="[${message}]" />
			</layout>
		</target>

		<!--linux ${basedir}/log/${shortdate}-error.log-->
		<target xsi:type="File" archiveNumbering="DateAndSequence" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd" archiveAboveSize="104857600" name="target4" fileName="${basedir}/../log/${shortdate}-error.log" async="true">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}]" />
				<attribute name="level" layout="[${level:uppercase=true}]" />
				<attribute name="threadname" layout="[${threadname:whenEmpty=${threadid}}]" />
				<attribute name="threadid" layout="[${threadid}]" />
				<attribute name="methodName" layout="[${callsite}]" />
				<attribute name="line" layout="${callsite-linenumber}:" />
				<attribute name="message" layout=" ${message}" />
			</layout>
		</target>
		<target name="consoleTarget" xsi:type="Console" layout="${longdate} level=${level} message=${message}" >
			<highlight-word foregroundColor="Green" regex="Hello World"/>
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="NoChange"  />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="NoChange" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="NoChange" backgroundColor="DarkRed" />
		</target>

		<!--<target xsi:type="File" name="target4" fileName="${basedir}\log\error-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${callsite}:[${callsite-linenumber}] - ${message}"/>-->

		<!--${callsite:className=Boolean:fileName=Boolean:includeSourcePath=Boolean:methodName=Boolean}-->
		<!--${callsite:className=true:methodName:true:fileName=true:includeSourcePath=false} - ${message} ${exception:format=tostring}-->
		<!--${callsite}:line ${callsite-linenumber}-->

	</targets>

	<rules>
		<!--Bỏ qua k ghi những thông tin về hệ thống mặc định-->
		<logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
		<logger name="Microsoft.*" minlevel="Debug" writeTo="" final="true" />

		<!--//Show lên console-->
		<logger name="*" minlevel="Info" writeTo="consoleTarget" />

		<logger name="*" levels="Warn" writeTo="target1" final="true" />
		<logger name="*" levels="Info" writeTo="target2" final="true" />
		<logger name="*" levels="Debug" writeTo="target3" final="true" />
		<logger name="*" levels="Error" writeTo="target4" final="true" />


	</rules>
</nlog>


